:root {
  --dark: #282e33;
  --white: #d2d7da;
  --blue: #0078e7;
}

html, body {
  color-scheme: dark;
}

body {
  margin: 0;
  background: #1e2a33;
  color: #b9bcbe;
}

.menu {
  position: fixed;
  top: 10px;
}

.container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {

}

#canvas {
  border:2px solid dodgerblue;
}

#spriteCanvas {
  border:2px solid dodgerblue;
  width: 800px;
  height: 800px;
  image-rendering: pixelated;
}

.custom-image-input {
  color: white;
  width: 90px;
  background-color: #0078e7;
  border-radius: 3px;
}

.custom-image-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-image-input::before {
  content: 'Upload IMG';
  /* display: inline-block; */
  /* border: 1px solid #0078e7;
  border-radius: 15px; */
  padding: 8px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 11pt;
}
.custom-image-input:hover::before {
  background-color: #418cd1;
  border-color: rgb(116, 116, 116);
}
.custom-image-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.custom-file-input {
  color: white;
  width: 90px;
  background-color: #0078e7;
  border-radius: 3px;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Upload JSON';
  /* display: inline-block; */
  /* border: 1px solid #0078e7;
  border-radius: 15px; */
  padding: 8px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 11pt;
}
.custom-file-input:hover::before {
  background-color: #418cd1;
  border-color: rgb(116, 116, 116);
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}